body,
html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fbf0bf;
  /*   header a {
      color: color(zoom);
      text-decoration: none;
      padding: $padding;
      display: block;
      text-transform: uppercase;
      font-size: small;

   }
   */
}

body #bg {
  -webkit-clip-path: polygon(0 20%, 100% 20%, 82% 100%, 18% 100%);
          clip-path: polygon(0 20%, 100% 20%, 82% 100%, 18% 100%);
  background-color: #fbf0bf;
  width: 100%;
  height: 100%;
  position: absolute;
  min-width: 700px;
  z-index: -1;
}

main section#mainsection {
  display: block;
  color: #5c5712;
  text-align: center;
  background-color: #cfca81;
  font-family: 'Lemonada', cursive;
  font-size: 2.1em;
  margin: 0;
  padding: 0;
}

main .main {
  background: #cfca81;
  padding: 10px;
  margin: 2em auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 35%;
  min-width: 360px;
  opacity: 80%;
  overflow: hidden;
  /*
      .liquid {
         width: 100%;
         height: 10px;
         position: absolute;
         top: -2%;
         left: -10%;
         background: #FFF;
         border-radius: 10%;
         animation: liquid 5s infinite;
      }

      .blobs {
         filter: url("#goo");
         width: 100%;
         height: 100%;
         position: relative;
      }

      .blobs .blob {
         width: 30px;
         height: 30px;
         margin: 0 5px 0px 0;
         background: #FFF;
         border-radius: 50%;
         position: absolute;
         top: 0;
         animation: drip_one 5s infinite;
      }

      .blobs .blob:nth-child(1) {
         left: -14%;
      }

      .blobs .blob:nth-child(2) {
         left: -1%;
      }

      .blobs .blob:nth-child(3) {
         left: 12%;
      }

      .blobs .blob:nth-child(4) {
         left: 25%;
      }

      .blobs .blob:nth-child(5) {
         left: 38%;
      }

      .blobs .blob:nth-child(6) {
         left: 51%;
      }

      .blobs .blob:nth-child(7) {
         left: 64%;
      }

      .blobs .blob:nth-child(8) {
         left: 77%;
      }

      .blobs .blob:nth-child(9) {
         left: 90%;
      }

      .blobs .blob:nth-of-type(4n-7) {
         width: 65px;
         animation: drip_four 5s infinite;
      }

      .blobs .blob:nth-of-type(3n-2) {
         width: 26px;
      }

      .blobs .blob:nth-of-type(2) {
         width: 22px;
      }

      .blobs .blob:nth-of-type(8) {
         animation: drip_five 5s infinite;
      }

      .blobs .blob:nth-of-type(4n+2) {
         height: 56px;
         animation: drip_two 5s infinite;
      }

      .blobs .blob:nth-of-type(6n-2) {
         height: 42px;
         animation: drip_three 5s infinite;
      }

      @keyframes drip_one {
         from {
            top: 0;
         }

         to {
            top: 103%;
         }
      }

      @keyframes drip_two {
         from {
            top: 0;
         }

         to {
            top: 104%;
         }
      }

      @keyframes drip_three {
         from {
            top: 0;
            height: 52px;
         }

         to {
            top: 102%;
            height: 132px;
         }
      }

      @keyframes drip_four {
         from {
            top: 0;
            width: 65px;
            height: 30px;
         }

         to {
            top: 102%;
            width: 75px;
            height: 45px;
         }
      }

      @keyframes drip_five {
         from {
            top: 0;
            height: 30px;
         }

         to {
            top: 102%;
            height: 72px;
         }
      }

      @keyframes liquid {
         from {
            height: 15px;
         }

         to {
            height: 109%;
         }
      }
*/
}

main .main form#booking p {
  font-size: 1em;
  border-radius: 10px;
  text-decoration: none;
  font-weight: normal;
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
}

main .main form#booking p label input[type] {
  border-radius: 10px;
  margin: 10px auto 0 auto;
  text-align: center;
  font-size: 1em;
  width: 10em;
  height: 1.5em;
  border: none;
}

main .main form#booking fieldset {
  margin: 0, auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

main .main form#booking fieldset p {
  margin: 0, auto;
  text-align: center;
  font-size: 1em;
  line-height: 0;
}

main .main form#booking fieldset #wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background: gray; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

main .main form#booking fieldset #wrapper input {
  border-radius: 10px;
  width: 3em;
  text-align: center;
}

main .main form#booking p label textarea {
  border-radius: 10px;
  text-align: center;
  width: 15em;
}

main .main form#booking p button {
  background: #5c5712;
  border-radius: 10px;
  font-size: 1em;
  width: 100px;
  color: white;
}

main .main #resultForm {
  width: 70%;
  margin: 20px auto;
  padding: 2em;
  background: #5c5712;
  border-radius: 10px;
}

main .main #resultForm ul.form-results {
  list-style: none;
  padding-left: 0;
}

main .main #resultForm ul.form-results li {
  margin: 0.2em 0;
  color: white;
}

main .main #resultForm ul.form-results li label {
  width: 200px;
  display: inline-block;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=main.css.map */